[submodule "libraries/elfinder"]
	path = libraries/elfinder
	url = https://github.com/Studio-42/elFinder.git
[submodule "libraries/php-timeclock"]
	path = libraries/php-timeclock
	url = https://github.com/BoatrightTBC/timeclock.git
